body {
    margin: 100px 240px 32px;
    font-family: sans-serif;

}

button {
  transition-duration: 0.4s;
  background-color: #282828;
  font-size: 20px;
  border-radius: 8px;
  color: white;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  font-size: 20px;
}

.images {
    border-radius: 4px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
}

img {

    color: white;
    padding: 8px;
    margin: 12px;
    border-radius: 4px;
}


.forms {
    display: flex;
    justify-content: space-between;
}

.statistics {
    display: flex;
    justify-content: space-between;
}

th, td {
    border: 1px solid black;
    border-radius: 12px;
    padding: 2px;
    text-align: center;
}

select {
    border-radius: 12px;
    font-size: 16px;
}

input{
    border-radius: 12px;
    font-size: 16px;
}